@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
}
#root {
  min-height: 100vh;
  display: flex;
  animation: fadeIN 1.5s;
}

@keyframes fadeIN {
  0% {
    opacity: 0;
  }  
  100% {
    opacity: 1;
  }
}